*{
    margin: 0;
    paint-order: 0;
}

body{
    height: 100vh;
    background-color:  hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: white;
    width: 450px;
    height: 700px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

}

.img1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hh1{
    color: hsl(223, 47%, 23%);
    font-weight: bold;
}

.pp1{
    color: hsl(224, 23%, 55%);
    font-weight: lighter;
    font-size: 18px;
}

.mid{
    background-color: hsl(225, 100%, 98%);
    height: 90px;
    width: 330px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.indiv{
    display: flex;
    flex-direction: column;
}

.img2{
    width: 50px;
    height: 50px;
}

.hh2{
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}

.hh3{
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    color: hsl(245, 75%, 52%);
    text-align: right;
}

.pp2{
     color: hsl(224, 23%, 55%);
    font-weight: lighter;
    font-size: 18px;
}

.indiv1{
    display: flex;
    gap: 20px;
    align-items: center;
}


.bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paym{
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 330px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
}

.hh3:hover{
    color: #7350ff;
    transition: 0.2s;
}

.paym:hover{
    background-color: #7460c5;
    transition: 0.2s;
        text-decoration: underline;
}

.ll{
    color: hsl(224, 23%, 55%);
    cursor: pointer;
}

.ll:hover{
    color: hsl(223, 56%, 21%);
    transition: 0.2s;
    text-decoration: underline;
}

.zix{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}